<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Wikipedia Viewer</title>
		<!--CSS links -->
		<link rel="stylesheet" type="text/css" href="static\css\bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">

		
	</head>
	<body style="color:red;">
		<div class="container">
			 <div class="jumbotron">
			 	<div class="content-wrap text-center">
                    <center><h1 style="color:red;">Wikipedia Viewer<br></h1> </center>        <!--h1 tag used for heading 1-->
					<center><h1><p>Here you can easily find any wikipedia page!!</p>
					</h1> </center>
				 	<form method="POST" action="/search">
				    <input id="tags" type="text" name="search" placeholder="Search Wikipedia..."autofocus="on" >
				    <br>
				    <center><button id="getResult" class="btn btn-default"><i class="fa fa-search"></i><h3 style="text-align:center;">Search</h3></button></center>
					<br>
				    <center><a id="randomResult" class="btn btn-default" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Random Search</a>		</center>		    
				    </form>
				</div>
			    <div class="wrap text-center">
				    <ul>
				    </ul>
			    </div>

			    {% block body %}
			    
			    {% endblock %}
			</div>
		</div>
		<!--JS links -->
		<script type="text/javascript" src="static\js\bootstrap.bundle.js"></script>
		<script type="text/javascript" src="static\js\bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="static\js\bootstrap.min.js"></script>
		
	</body>
</html>